<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Marvel App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/a11y-css-reset/combo.css" />
        <script src="https://kit.fontawesome.com/1a987a2466.js" crossorigin="anonymous"></script>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
       <nav class="navbar">
           <div class="topnav" id="navtop">
            <a href="/" class="active">Home</a>
            <a href="#">News</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fas fa-bars"></i>
            </a>
           </div>
       </nav>