<% include partials/header %>

  

    <div class="resultsrow">
        
        <% results.forEach(function(hero) { %>
            <div class="herocolumn">
            <div class="herocard">
                <%  let image = hero.thumbnail.path + "." + hero.thumbnail.extension; %>
                <img src="<%= image %>" alt="">
                <div class="heroinfo">
                    <h2 id="heroname"><%= hero.name %></h2>
                    <a href="/<%= hero.id %>">More Info</a>
                </div>
            </div>
        </div>
        <% }) %>
        
    </div>



<% include partials/footer %>